<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaolian.amigo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.xiaolian.amigo.MvpApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">

        <activity
            android:name=".tmp.activity.LoginRegistryGroupActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".tmp.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize"></activity>

        <activity
            android:name=".tmp.activity.RegistryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".tmp.activity.PasswordRetrievalStep1Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".tmp.activity.PasswordRetrievalStep2Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".tmp.activity.EditProfileActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.EditNicknameActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".tmp.activity.wallet.WalletActivty"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.wallet.RechargeActivty"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.wallet.PrepayActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.wallet.PrepayOrderActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.wallet.WithdrawalActivty"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.bonus.BonusActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.bonus.ExpiredBonusActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.bonus.BonusExchangeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.order.OrderActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tmp.activity.order.OrderDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.favorite.FavoriteActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.repair.RepairActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.repair.RepairNavActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.repair.RepairApplyActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.repair.RepairDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".tmp.activity.common.DeviceTypeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".tmp.activity.common.BuildingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".tmp.activity.common.FloorActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".tmp.activity.common.LocActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".tmp.activity.lostandfound.LostAndFoundActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".tmp.activity.device.geyser.GeyserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tmp.activity.device.waterfountain.WaterFountainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tmp.activity.device.geyser.ChooseBonusActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.WebActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".tmp.activity.lostandfound.PublishFoundActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.lostandfound.PublishLostActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tmp.activity.lostandfound.MyPublishActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <!--编辑个人信息页面-->
        <activity android:name=".ui.user.EditProfileActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <!--编辑昵称页面-->
        <activity android:name=".ui.user.EditNickNameActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <!--修改手机号-->
        <activity android:name=".ui.user.EditMobileActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".tmp.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>