<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaolian.amigo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.xiaolian.amigo.MvpApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">

        <activity
            android:name=".tmp.activity.LoginRegistryGroupActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".tmp.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <activity
            android:name=".tmp.activity.RegistryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".tmp.activity.PasswordRetrievalStep1Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".tmp.activity.PasswordRetrievalStep2Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".tmp.activity.EditProfileActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.EditNicknameActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".tmp.activity.wallet.WalletActivty"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.wallet.RechargeActivty"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.wallet.PrepayActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.wallet.PrepayOrderActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.wallet.WithdrawalActivty"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.bonus.BonusActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.bonus.ExpiredBonusActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.bonus.BonusExchangeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.order.OrderActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.order.OrderDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.favorite.FavoriteActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.repair.RepairActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.repair.RepairNavActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.repair.RepairDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.repair.RepairApplyActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name=".ui.repair.RepairDeviceTypeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".tmp.activity.common.BuildingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".tmp.activity.common.FloorActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".tmp.activity.common.LocActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".tmp.activity.lostandfound.LostAndFoundActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".tmp.activity.device.geyser.GeyserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tmp.activity.device.waterfountain.WaterFountainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tmp.activity.device.geyser.ChooseBonusActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.WebActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".tmp.activity.lostandfound.PublishFoundActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tmp.activity.lostandfound.PublishLostActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tmp.activity.lostandfound.MyPublishActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <!--编辑个人信息页面-->
        <activity
            android:name=".ui.user.EditProfileActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--编辑昵称页面-->
        <activity
            android:name=".ui.user.EditNickNameActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--修改手机号-->
        <activity
            android:name=".ui.user.EditMobileActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--修改账户密码-->
        <activity
            android:name=".ui.user.EditPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--列表选择页面-->
        <activity
            android:name=".ui.user.ListChooseActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--红包页面-->
        <activity
            android:name=".ui.bonus.BonusActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--兑换红包-->
        <activity
            android:name=".ui.bonus.BonusExchangeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--过期红包-->
        <activity
            android:name=".ui.bonus.ExpiredBonusActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--我的钱包-->
        <activity
            android:name=".ui.wallet.WalletActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--失物招领-->
        <activity android:name=".ui.lostandfound.LostAndFoundActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--剪裁页面-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!--宿舍列表-->
        <activity android:name=".ui.user.EditDormitoryActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--找回密码步骤一-->
        <activity android:name=".ui.login.PasswordRetrievalStep1Activity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--找回密码步骤二-->
        <activity android:name=".ui.login.PasswordRetrievalStep2Activity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--登录页面-->
        <activity android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--热水器设备页-->
        <activity android:name=".ui.device.geyser.GeyserActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--选择红包页-->
        <activity android:name=".ui.device.geyser.ChooseBonusActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--选择饮水机页面-->
        <activity android:name=".ui.device.waterfountain.ChooseWaterFountainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--饮水机页面-->
        <activity android:name=".ui.device.waterfountain.WaterFountainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--充值金额页面-->
        <activity android:name=".ui.wallet.RechargeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ui.ble.BLEActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主页-->
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--兼容API24的provider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xiaolian.amigo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>